$primary: #00aeba;
$primary-dark: #007e8a;
$primary-light: #5ce0ec;
$secondary: #ee020a;
$secondary-dark: #b20000;
$secondary-light: #ff573a;
$primarybground: white;
$ink: black;
$ink-inv: white;
$ink-alt: DarkCyan;
html,
body {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  background-color: lightgray;
  font-size: 1rem;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  color: #000;
  -webkit-font-smoothing: antialiased;
  font-family: 'Haelvetica', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.entry {
  margin: auto;
  max-width: 40%;
  position: relative;
  background-color: #f3f3f3;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 2px #bbb;
  text-align: center;
  
}
li {
  list-style-type: none;
}
li.article-list {
  
  padding: 3px 20px;
  margin: 0;
  //background-color: white;
  border-bottom: 1px solid #f3f3f3;
  position: relative;
  cursor: context-menu;
  -webkit-transition: background-color 2s;
  transition: background-color 2s;
  text-align: left;
}

.standard {
  background-color: $primarybground;
  color: $ink;
}
.active {
  background-color:$primary;
  color: $ink-inv;
}

.visited {
  background-color: $primarybground;
  color: $ink-alt;
}

li.article-list:hover, li.article-list-visited:hover {
  background-color: $primary-dark;
  color: white;
}

li.article-list-visited {
color: DarkCyan;
}

li::before {
  content: "\00BB";
  content: "\1F892";
  position: relative;
  left: -8px;
  color: $secondary;
}

li:hover::before {
  color: white;
}

li:first-of-type {
  border-top: 2px solid $secondary;
}

li:last-of-type {
  border-bottom: 2px solid $secondary;
}

li.article-part {
  //list-style-type: none;
}

li.article-part::before {
  content: '';
}


ul {
  margin: 10px;
  padding: 10px;
}

ul.article-content {
  background-color: $primarybground;
  color: $ink;
  opacity: 1;
  transition: opacity 2s;
 
  //overflow: auto;
  //height: 20rem;
}

ul.article-content :hover {
  background-color: $primarybground;
}

p.article-part{
padding: 0.2rem;
margin: 0.2rem;
text-align: justify;
}
p.article-part:first-of-type {
  font-weight: 600;
  
}

h3,
h4 {
  padding: 5px 15px;
}

h4 {
  font-size: 2rem;
  margin: 0 20px;
  font-family: 'Frijole', cursive; //padding: 4px 20px;
}

h3 {
  font-size: 3rem;
}

h5 {
  font-size: 1.5rem;
  margin: 0 20px;
  padding: 3px 20px;
  font-weight: 400;
  text-align: center;
}

h6 {
  font-size: 1.25rem;
  margin: 0 20px;
  padding: 3px 20px;
  font-weight: 500;
}


.portal {
  //text-transform: uppercase;
  //color: white;
  // background-color:#006978;
  padding: 1px 3px;
}

header {
  //margin: 0;
  margin-bottom: 20px; //padding:0;
  height: 90px; // width: 100%;
  background-color: $primary-dark; //font-family: 'Frijole', cursive;
  text-align: center;
  color: white;
  border-bottom: 1px solid white;
}

.insert {
  //background-color: white;
  max-width: 50%;
  margin: auto;
  color: $primary-dark;
}