<html>

<head>
  <title>Scrape it!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
</head>

<body>
  <header>
    <h4></h4>
    <h6></h6>
    <div class='gitlink'>
      <a href="https://github.com/ashez73/newscraper">
        <img src="./img/GitHub-Mark-64px.png" alt="github logo">
      </a>
    </div>
  </header>
  <main>
    {{{body}}}
  </main>
  <footer>
    <script src="./javascript/client.js"></script>
  </footer>
</body>

</html>