<!--<h2>Hello {{name}}</h2>
-->
<div class="entry">
<h5>Źródło: <span class = "portal">{{displayTarget}}</span></h5>
<div class ="insert">POZYSKANO: {{formatDate}}</div>
<ul>
{{#each displayData}}
<li>{{this}}</li>
{{/each}}
</ul>
</div>