<!--<h2>Hello {{name}}</h2>
-->
<div class="entry">
<h5>Źródło: <span class = "portal">Onet.pl</span></h5>
<div class ="insert">POZYSKANO: {{acquired}}</div>
<ul>
  {{#with displayData}}
  {{#each newsFeed}}
  <li class = 'article-list standard' data-link ="{{this.link}}">{{this.title}}</li>
  {{/each}}
  {{/with}}
</ul>
</div>