
<div class="entry">
  <h5>Źródło: <span class = "portal">Onet.pl</span></h5>
<div class ="insert">POZYSKANO: {{formatDate}}</div>
<ul>
  
</ul>

</div>

<script src="./javascript/client.js"></script>